**Soma das diagonais principais**

In [2]:

import random

A = [random.randint(1, 10) for _ in range(9)]

matriz_a = [A[:3], A[3:6], A[6:]]
print("Matriz A:")
print(matriz_a[0])
print(matriz_a[1])
print(matriz_a[2])

matriz_b = [A[:3], A[3:6], A[6:]]
print("Matriz B:")
print(matriz_b[0])
print(matriz_b[1])
print(matriz_b[2])


soma_A = 0
for i in range(3):
    for j in range(3):
        if i > j:
            soma_A += matriz_a[i][j]


soma_B = 0
for i in range(3):
    for j in range(3):
        if i < j:
            soma_B += matriz_b[i][j]

print(f"Soma dos elementos da diagonal principal é: {soma_A + soma_B}")

Matriz A:
[7, 2, 1]
[1, 9, 8]
[1, 5, 10]
Matriz B:
[7, 2, 1]
[1, 9, 8]
[1, 5, 10]
Soma dos elementos da diagonal principal é: 18

**Cálculo do determinante**

In [3]:
#Exercício determinante:

A = [random.randint(1, 10) for _ in range(9)]


matriz_A = [A[:3], A[3:6], A[6:]]
print("Matriz A:")
print(matriz_A[0])
print(matriz_A[1])
print(matriz_A[2])

a, b, c = matriz_A[0]
d, e, f = matriz_A[1]
g, h, i = matriz_A[2]


determinante = (a * (e * i - f * h) -
                b * (d * i - f * g) +
                c * (d * h - e * g))


print(f"O determinante da matriz A é: {determinante}")

Matriz A:
[2, 6, 10]
[9, 7, 9]
[8, 4, 6]
O determinante da matriz A é: -80


**Determinante com Numpy**

In [4]:
import numpy as np

In [5]:


A = [random.randint(1, 10) for _ in range(9)]


matriz_A = [A[:3], A[3:6], A[6:]]
print("Matriz A:")
print(matriz_A[0])
print(matriz_A[1])
print(matriz_A[2])


np.linalg.det(matriz_A)

Matriz A:
[7, 4, 3]
[5, 4, 9]
[5, 6, 5]

np.float64(-128.00000000000009)

***Exercício:*** Uma pista de Kart permite 10 voltas para cada um de 6 corredores. Faça um programa que determine aleatóriamente a volta de cada corredor. Ao final, o programa deve informar:



*   De quem foi a melhor volta da prova, e em que volta
*   Classificação final em ordem crescente
* Qual foi a volta com a média mais rápida

In [6]:
#Criando a tabela de voltas
import numpy as np

tabela = np.random.uniform(13, 50, size = (6,10))
tabela = tabela.round(2)
tabela

array([[19.38, 43.12, 32.68, 48.81, 38.68, 35.54, 23.91, 36.64, 40.24,
        35.17],
       [17.62, 14.51, 42.48, 26.34, 34.49, 39.11, 22.14, 17.17, 48.17,
        13.39],
       [48.08, 38.03, 39.62, 30.98, 48.39, 41.98, 41.37, 44.65, 48.13,
        17.38],
       [31.91, 20.23, 49.81, 28.24, 23.13, 45.91, 20.79, 41.53, 15.98,
        49.44],
       [45.06, 38.32, 46.76, 34.24, 20.7 , 24.12, 47.96, 17.26, 26.48,
        45.91],
       [24.32, 35.46, 42.57, 16.61, 35.05, 26.2 , 48.76, 46.52, 37.17,
        21.21]])

##Melhor volta da prova e em que volta

In [7]:
#Verificando o melhor volta
melhorCorredor = np.argmin(tabela)
#Verificando o melhor corredor
melhorVolta = np.min(tabela)
print(f"A melhor volta foi feita em: {melhorVolta} segundos na volta numero: {melhorCorredor + 1}")

A melhor volta foi feita em: 13.39 segundos na volta numero: 20

##Classificação em ordem crescente

In [8]:

melhores_tempos = np.min(tabela, axis=1)

classificacao_indices = np.argsort(melhores_tempos)

classificacao_final = np.column_stack((classificacao_indices + 1, melhores_tempos[classificacao_indices]))

print("Classificação final em ordem crescente:")
print(classificacao_final)

Classificação final em ordem crescente:
[[ 2.   13.39]
 [ 4.   15.98]
 [ 6.   16.61]
 [ 5.   17.26]
 [ 3.   17.38]
 [ 1.   19.38]]

##Volta com a média mais rápida com PANDAS

---

***Exercício:*** Uma pista de Kart permite 10 voltas para cada um de 6 corredores. Faça um programa que determine aleatóriamente a volta de cada corredor. Ao final, o programa deve informar:



*   De quem foi a melhor volta da prova, e em que volta
*   Classificação final em ordem crescente
* Qual foi a volta com a média mais rápida

##Imports

In [9]:
import pandas as pd
import numpy as np

##Criando a tabela

In [10]:

tabela = {
    'Volta 1' : [ ],
    'Volta 2' : [ ],
    'Volta 3' : [ ],
    'Volta 4' : [ ],
    'Volta 5' : [ ],
    'Volta 6' : [ ],
    'Volta 7' : [ ],
    'Volta 8' : [ ],
    'Volta 9' : [ ],
    'Volta 10' : [ ]
}

corredores =  ['Lethicia', 'Sophia', 'Gustavo', 'Pedro', 'Laiana', 'Lucas']


for volta in tabela.keys():
    tabela[volta] = np.random.uniform(1.0, 101.0, size=len(corredores))

##Imprimindo o Dataframe

In [11]:
#Tabela de voltas dos corredores:
df = pd.DataFrame(tabela)
df.index = corredores
df = df.round(2)

df

,Volta 1,Volta 2,Volta 3,Volta 4,Volta 5,Volta 6,Volta 7,Volta 8,Volta 9,Volta 10
Lethicia,85.09,93.54,76.78,15.59,54.64,96.16,35.89,14.89,49.75,35.81
Sophia,4.95,64.72,3.44,86.21,53.42,7.29,83.69,26.49,91.54,64.35
Gustavo,70.87,67.54,22.28,88.55,61.92,50.85,81.33,16.21,15.67,42.92
Pedro,24.48,61.08,58.28,46.89,97.13,25.73,36.06,3.62,89.10,31.81
Laiana,22.01,88.06,42.64,17.51,48.11,79.05,51.56,32.55,26.14,52.66
Lucas,57.19,82.69,78.00,28.30,32.18,59.80,46.31,75.05,54.44,40.34

####* De quem foi a melhor volta da prova, e em que volta

In [12]:

menor_tempo = df.min().min()  # Menor valor de tempo
volta_menor_tempo = df.min().idxmin()  # Coluna (Volta) que contém o menor tempo
corredor_menor_tempo = df[volta_menor_tempo].idxmin()  # Corredor que fez a menor volta

# Exibindo o resultado
print(f"O corredor {corredor_menor_tempo} fez a menor volta ({menor_tempo:.2f} segundos) na {volta_menor_tempo}.")

O corredor Sophia fez a menor volta (3.44 segundos) na Volta 3.

####*Classificação final em ordem crescente

In [13]:
# Calculando o tempo total para cada corredor
df['Tempo Total'] = df.sum(axis=1)

# Classificando os corredores com base no tempo total em ordem crescente
classificacao = df[['Tempo Total']].sort_values(by='Tempo Total')

# Exibindo a classificação final
print(classificacao)

          Tempo Total
Laiana         460.29
Pedro          474.18
Sophia         486.10
Gustavo        518.14
Lucas          554.30
Lethicia       558.14

####*Qual foi a volta com a média mais rápida

In [14]:
print(f"A volta com a média mais rápida foi: {volta_menor_tempo}")

A volta com a média mais rápida foi: Volta 3